.btn-group .btn {
    background-color: #f8f8f8;
    color: #333;
    font-weight: 500;
}

.btn-group .btn.active {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.search-group input:focus {
  box-shadow: none;
}

.search-group .form-control {
  border-radius: 0;
}

.input-group-text {
  border-radius: 0;
}

.search {
    min-height: 50px;
    border: none;
}

.outbox {
    padding: 0.5em 1em 0.5em 1em;
    background: #f8f8f8;
    border: 1px solid #c3c3c3;
}

.select-box {
    font-family: var(--fistudy-font-two);
    font-size: 16px;
    min-height: 50px;
    border-radius: 50px;
      appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 2.5rem;
  cursor: pointer;
}

.dropdown-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    border-color: #00000000;
}

.list-view-card {
  background: #fff;
  transition: box-shadow 0.3s ease;
}

.list-view-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.list-view-title a {
  font-size: 1.25rem;
  font-weight: 600;
}

.list-view-rating i {
  font-size: 18px;
}

.list-view-thumb img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.search-grp {
    border: 1px solid #c5c5c5;
}

.material-icons {
    font-size: 20px;
}

.course-list {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F8FF 18%, #F6F8FF 100%);
}

.course-grid__left {
    position: relative;
    display: block;
    margin-right: 34px;
}

.course-grid__sidebar {
    position: relative;
    display: block;
}

.course-grid__search {
    position: relative;
    display: block;
}

.course-grid__title-box {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.course-grid__title {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.course-grid__search form input[type=search], .course-grid__search form input[type=text] {
    width: 100%;
    height: 50px;
    background-color: var(--fistudy-white);
    padding-left: 20px;
    padding-right: 95px;
    font-size: 16px;
    color: var(--fistudy-gray);
    font-family: var(--fistudy-font);
    border: 1px solid var(--fistudy-bdr-color);
    font-family: var(--fistudy-font-two);
    outline: none;
    font-weight: 500;
    border-radius: 25px;
}

course-grid__search form button:hover[type="submit"] {
    background-color: var(--fistudy-black);
    color: var(--fistudy-white);
}

.course-grid__search form button[type="submit"] {
    background-color: var(--fistudy-base);
    color: var(--fistudy-white);
    font-size: 16px;
    position: absolute;
    font-family: var(--fistudy-font-two);
    top: 112px;
    right: 5px;
    bottom: 5px;
    width: 85px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0;
    border-radius: 45px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.course-grid__single+.course-grid__single {
    margin-top: 48px;
}

.course-grid__discount {
    position: relative;
    display: block;
    background: linear-gradient(141.93deg, #2140F5 2.62%, #687EFF 97.82%);
    border-radius: 20px;
    padding: 36px 24px 0;
    overflow: hidden;
    z-index: 1;
}

.course-grid__discount-title {
    font-size: 24px;
    font-weight: 500;
    color: var(--fistudy-white);
    line-height: 24px;
    margin-bottom: 12px;
}

.course-grid__discount-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--fistudy-white);
    line-height: 20px;
}

.course-grid__discount-img {
    position: relative;
    display: block;
    margin-left: 90px;
    margin-top: 6px;
}

.course-grid__discount-img img {
    width: auto;
}


.tp-course-item {
    border-radius: 20px;
    border: 1px solid rgba(3, 31, 66, 0.08);
    padding: 15px 15px 0px 15px;
    background-color: var(--tp-common-white);
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
}
.tp-course-teacher {
    display: flex;
    padding: 0 19px;
    align-items: center;
    justify-content: space-between;
}
.tp-course-thumb {
    overflow: hidden;
    border-radius: 10px;
}
.tp-course-thumb img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}
a .course-pink {
    background-color: #EEBED3;
}
.tp-course-content {
    position: relative;
    overflow: hidden;
    padding: 20px 15px 0;
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
    background-color: #f8f7ff;
}
.tp-course-tag span {
    display: inline-block;
    border-radius: 3px;
    background: rgba(23, 162, 184, 0.08);
    color: #17A2B8;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 10px;
    line-height: 1;
}
.tp-course-title {
    color: var(--fistudy-black);
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 600;
    margin: 6px 0 0;
    text-transform: capitalize;
    padding-bottom: 22px;
    border-bottom: 1px solid rgba(3, 31, 66, 0.08);
}
.tp-course-rating-star p {
    margin-bottom: 0;
    color: var(--tp-heading-2);
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
}
.tp-course-rating-star p span {
    font-size: 14px;
    font-weight: 300;
}
.tp-course-pricing.home-2 span {
    color: var(--fistudy-base);
}
.tp-course-pricing span {
    font-size: 18px;
    font-weight: 600;
    color: var(--fistudy-base);
}
.tp-course-rating-icon i {
    font-size: 18px;
    color: rgb(255, 178, 29);
    margin-top: 6px;
}
.tp-course-item:hover .tp-course-content {
    transform: translateY(-60px);
}
.tp-course-item:hover {
    box-shadow: 0px 6px 10px 0px rgba(22, 18, 3, 0.1);
}
.fix {
    overflow: hidden;
}
.mb-30 {
    margin-bottom: 30px;
}
.tp-course-btn {
    position: relative;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 34px;
    text-align: center;
    transform: translateY(50px);
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
    cursor: pointer;
}
.tp-course-item:hover .tp-course-btn {
    transform: translateY(-30px);
}
.tp-course-btn a {
    display: block;
    text-align: center;
    line-height: 1;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #5169f1;
    color: #fff;
    position: relative;
    top: 4px;
}
.tp-course-btn.home-2 a:hover {
    background-color: #161613;
}

.tp-course-meta span {
    color: #94928e;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: var(--fistudy-font);
}

.tp-course-meta span span {
    color: #94928E;
    font-size: 14px;
    display: inline-block;
    margin-right: 1px;
}

.section-title__title {
    color: var(--fistudy-black);
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 600;
    margin: 6px 0 0;
    text-transform: capitalize;
}

.section-title__title span{
    position: relative;
    display: inline-block;
    color: var(--fistudy-base);
    font-family: var(--fistudy-font-two);
    font-style: italic;
    z-index: 1;
}

.section-title__title img{
    position: relative;
    bottom: 20px;
    right: -241px;
    height: 18px;
    width: 157px;
}

.about-one__btn-box {
    margin-bottom: 40px;
}