<div class="wrapper">

   <app-dashboard-header></app-dashboard-header>

    <!--=================================
    Main content -->

    <div>

     <app-dashboard-sidebar></app-dashboard-sidebar>

      <!--=================================
      wrapper -->
      <div class="content-wrapper">
        <div class="page-title">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="mb-0"> Order Lists</h4>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb pt-0 pe-0 float-start float-sm-end">
                <li class="breadcrumb-item"><a routerLink="/dashboard" class="default-color text-light">Home</a></li>
                <li class="breadcrumb-item active ps-0 text-light">Dashboard</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- widgets -->
         <div class="row mt-4">
            <div class="rts-reviewd-area-dashed table-responsive">
                <table class="table-reviews quiz mb-4">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Product</th>
                            <th style="width: 10%;">Price</th>
                            <th style="width: 35%;">Date</th>
                            <th style="width: 20%;">Customer Name</th>
                            <th style="width: 10%;">Adress</th>
                            <th style="width: 10%;">Phone</th>
                            <th style="width: 10%;">Email</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr *ngFor="let item of orderDetails">
                            <td *ngFor="let item of item.cartinfo">
                                <div class="information-quiz">
                                  <img src="{{item.image}}" alt="productimage" style="width: 80px; border-radius: 10px;">
                                </div>
                            </td>
                            <td *ngFor="let item of item.cartinfo; let i = index">
                                <span class="questions" *ngIf="i === 0">{{item.price | currency}}</span>
                            </td>
                            <td>
                                <span class="marks">November 28, 2023</span>
                            </td>
                            <td>
                                <span>{{item.orderInfo.firstName}} {{item.orderInfo.lastName}}</span>
                            </td>
                            <td>
                                <span>{{item.orderInfo.address}}</span>
                            </td>
                            <td>
                                <span>{{item.orderInfo.phone}}</span>
                            </td>
                            <td>
                                <span>{{item.orderInfo.email}}</span>
                            </td>
                            <td>
                                <div class="hold-area">
                                    <span class="success">Success</span>
                                    <span class="hold-i"><i class="fa-regular fa-clipboard-list"></i></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--=================================
        footer -->
        <footer class="bg-white p-4">
          <div class="row">
            <div class="col-md-6">
              <div class="text-center text-md-start">
                <p class="mb-0"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span>. <a href="#"> Webmin </a> All Rights Reserved. </p>
              </div>
            </div>
          </div>
        </footer>
        <!--=================================
        footer -->
      </div>
      <!--=================================
      wrapper -->
    </div>
    <!--=================================
    Main content -->
  </div>