<nav class="admin-header navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <!-- logo -->
    <div class="text-start navbar-brand-wrapper">
      <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo-dark.png" alt="" ></a>
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-icon-dark.png" alt=""></a>
    </div>
    <!-- Top bar left -->
   
    <!-- top bar right -->
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item dropdown mr-30">
        <a class="nav-link nav-pill user-avatar" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img [src]="user.photoURL" alt="avatar" *ngIf="user.photoURL; else initialsTemplate">
          <ng-template #initialsTemplate>
            <div class="initials-circle">{{ userInitials }}</div>
            <h6 class="mt-0 mb-0">{{user.displayName}}</h6>
          </ng-template>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">
            <h6 class="mt-0 mb-0">{{user.displayName}}</h6>
            <span>{{ user.email }}</span>
          </div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item cursor-pointer" (click)="signOut()"><mat-icon>logout</mat-icon><span class="position">Logout</span></a>
        </div>
      </li>
    </ul>
  </nav>
  <!--=================================
  header End-->