<section class="section new-course" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">
    <div class="container">
        <div class="section-header aos aos-init aos-animate" data-aos="fade-up">
            <div class="section-sub-head">
                <span>What’s New</span>
                <h2>Featured Courses</h2>
            </div>
        </div>
        <div class="section-text aos aos-init aos-animate" data-aos="fade-up">
            <p class="mt-2">Our thoughtfully designed courses provide young learners with a strong foundation for<br> their educational journey. </p>
        </div>
        <div class="course-feature mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex" *ngFor="let student of studentsList">
                    <article class="card">
                        <header class="card__thumb">
                            <a (click)="viewDetails(student)"><img [src]="student.imageUrl"/></a>
                        </header>
                        <div class="card__date">
                            <span class="card__date__day">11</span>
                            <br/>
                            <span class="card__date__month">Jan</span>
                        </div>
                        <div class="card__body">
                            <div class="card__category"><a href="#">pet</a></div>
                            <h2 class="card__title"><a href="#" routerLink="course-details">{{student.name}}</a></h2>
                            <div class="card__subtitle">an ice cream sundae party！</div>
                            <p class="card__description">5. Pour the mixture into a non-stick container and then freeze overnight. Take treating your dog a step further by turning it into an ice cream sundae party!</p>
                        </div>
                        <footer class="card__footer">
                            <span class="icon ion-clock"></span> {{student.roll}}
                        </footer>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>