<div class="blog"
   style="background-image: url(assets/templates/blog-stories-bg.png);">
   <div class="container">
      <div class="row">
         <div class="page-header__inner">
            <h2 class="banner-one__title mb-2">Our Blogs</h2>
            <p>Discover articles and tutorials to help you build better.</p>
         </div>
      </div>
      <div class="row">
         <div class="banner" style="background-image: url('assets/templates/image3.png');">
            <h3 class="tp-blog-stories-banner-title mx-3">
               <a>The Importance of Intrinsic... </a>
            </h3>
            <div class="tp-blog-stories-banner-user d-flex align-items-center mx-4">
               <div class="tp-blog-stories-user-thumb">
                  <img decoding="async" src="assets/templates/leadership-thumb-7.jpg" alt="img-blog">
               </div>
               <div class="tp-blog-stories-user-content">
                  <h6>
                     Salim Rana										
                  </h6>
                  <span>
                  August 11, 2024</span>
               </div>
            </div>
         </div>
      </div>
      <div class="row blogs">
         <div class="col-md-4 mb-5" *ngFor="let blog of blogs">
            <div class="blog-two__single">
               <div class="blog-two__img">
                  <img src="{{blog.image}}" alt="">
               </div>
               <div class="blog-two__content">
                  <h4 class="blog-two__title"><a (click)="viewBlogs(blog)" [ngStyle]="{'cursor': 'pointer'}">{{blog.title}}</a>
                  </h4>
                   <div class="blog-two__date">
                     <span class="icon-calendar"></span>
                     <p>{{blog.date}}</p>
                  </div>
                  <p class="blog-two__text">The discusses the advantages of using LMS for upskilling
                     employees, managing compliance training,
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<app-footer></app-footer>