
<div class="wrapper">
    <div class="inner">
        <img src="assets/dashboard/image-1.png" alt="" class="image-1">
        <form action="">
            <h3>New Account?</h3>
            <div class="form-holder">
                <span class="reg-icon">
                    <mat-icon>
                        person
                    </mat-icon>
                </span>
                <input type="text" class="form-control" placeholder="Enter Your Name" name="name" [(ngModel)]="name">
            </div>
            <div class="form-holder">
                <span class="reg-icon">
                    <mat-icon>
                        mail
                </mat-icon>
                </span>
                <input type="text" class="form-control" placeholder="Enter Your Email" name="email" [(ngModel)]="email">
            </div>
            <div class="form-holder">
               <span class="reg-icon">
                <mat-icon>
                    lock
            </mat-icon>
               </span>
                <input type="password" class="form-control" placeholder="Enter Your Password" name="password" [(ngModel)]="password">
            </div>

            <button class="register_btn" (click)="register()">
                <span>Register</span>
            </button>

           
            <p class="mt-3 text-muted text-center text-size">Already have an account? <a href="" routerLink="/login">Login</a> Now</p>
        </form>
        <img src="assets/dashboard/image-2.png" alt="" class="image-2">
    </div>
    
</div>