input, textarea, select, button {
     }
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
  
  img {
    max-width: 100%; }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }
  
  a {
    text-decoration: none; }
  
  :focus {
    outline: none; }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #accffe; }
  
  .inner {
    position: relative;
    width: 435px; }
  
  .image-1 {
    position: absolute;
    bottom: -12px;
    left: -191px;
    z-index: 99; }
  
  .image-2 {
    position: absolute;
    bottom: 0;
    right: -129px; }
  
  form {
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 77px 61px 66px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  
  h3 {
    text-transform: uppercase;
    font-size: 25px;
    
    color: #333;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 33px; }
  
  .form-holder {
    position: relative;
    margin-bottom: 21px; }
    .form-holder span {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 15px;
      color: #333; }
      .form-holder span.lnr-lock {
        left: 2px; }
  
  .form-control {
    border: none;
    display: block;
    width: 100%;
    height: 40px;
    background: none;
    padding: 0px 42px 0px;
    color: #666;
    font-size: 16px;
    background: #f5f5f5;
    font-size: 16px;
    
    font-size: 16px; }
    .form-control::-webkit-input-placeholder {
      font-size: 13px;
      
      color: #999;
      transform: translateY(1px); }
    .form-control::-moz-placeholder {
      font-size: 14px;
      
      color: #999;
      transform: translateY(1px); }
    .form-control:-ms-input-placeholder {
      font-size: 14px;
      
      color: #999;
      transform: translateY(1px); }
    .form-control:-moz-placeholder {
      font-size: 14px;
      
      color: #999;
      transform: translateY(1px); }
    .form-control:focus {
      border-bottom: 1px solid #accffe; }
  
  .register_btn {
    border: none;
    width: 100%;
    height: 49px;
    margin-top: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #99ccff;
    color: #fff;
    text-transform: uppercase;
    
    font-size: 15px;
    letter-spacing: 2px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden; }
    .register_btn span {
      position: relative;
      z-index: 2; }
    .register_btn:before, .register_btn:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(52, 152, 253, 0.25);
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transform: translate(-100%, 0);
      transform: translate(-100%, 0);
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
    .register_btn:after {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    .register_btn:hover:before, .register_btn:hover:after {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0); }
  
  @media (max-width: 991px) {
    .inner {
      width: 400px;
      left: 4%; } }
  @media (max-width: 767px) {
    .inner {
      width: 100%;
      left: 0; }
  
    .image-1, .image-2 {
      display: none; }
  
    form {
      padding: 35px;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none; }
  
    .wrapper {
      background: none; } }

      .login100-social-item {
        font-size: 25px;
        color: #3b5998;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        margin: 5px;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
        -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
        -o-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
        -ms-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
    }

    .p-b-112{
      justify-content: center;
    }

    .icon{
      width: 25px;
    height: 25px;
    }

    ::ng-deep .danger{
      --mdc-snackbar-container-color: red;
      --mdc-snackbar-supporting-text-color: white;
      --mat-snack-bar-button-color: #fff;
  }

  .mat-icon {
    position: relative;
    top: 4px;
    color: #929292;
    left: 10px;
}

.text-size{
  font-size: 14px;
}

a{
  color: black;
}

.google-button {
  all: unset;
  margin: auto;
  width: fit-content;
  height: 42px;
  background-color: #6baae9;
  border-radius: 2px;
  transition: all 300ms ease-in-out;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.google-button .google-icon-wrapper {
  margin: 1px;
  width: 40px;
  height: 40px;
  border-radius: 1px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.google-button .google-button-text {
  display: flex;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-left: 1em;
  margin-right: 1em;
  align-items: center;
}
.google-button:hover {
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
  cursor: pointer;
}
.google-button:active {
  background: #3367d6;
}