.category-default1 {
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.category-default1 .category-content {
    color: #fff;
    height: 4.2rem
}

.category-default1 .category-content .category-name {
    letter-spacing: -0.025em
}

.category img {
    display: block;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.category-default1 .category-content {
    color: #fff;
    height: 4.2rem;
}

.category-default1 .category-content {
    color: #222;
}
.category-content {
    display: flex
;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: background 0.3s;
}

.category-default1 .category-content .category-name {
    letter-spacing: -0.025em;
}

.category-default1 .category-name {
    margin: 0;
}
.category .category-name {
    margin-bottom: 0.3rem;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    text-transform: capitalize;
}
.mt-10{
    margin-top: 95px;
}

.category a{
    color: black;
    text-decoration: none;
}

.blur-overlay {
    position: absolute;
    width: 400px;
    height: 500px;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.2;
}

.blur-right {
    background: linear-gradient(135deg, #B907FF, #6f0399);
    top: 130%;
    right: 0px;
    transform: translateY(-50%);
}