<div class="container">
     <!-- Blurred Color Overlays -->
     <div class="blur-overlay blur-right"></div>
    <div class="row mt-10">
        <div class="col mb-4">
            <div class="category category-default1 category-absolute">
                <a href="market2-shop.html">
                    <figure>
                        <img src="../assets/templates/1.jpg" alt="Category" width="213" height="213">
                    </figure>
                    <div class="category-content">
                        <h5 class="category-name">Creative Activities</h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="col mb-4">
            <div class="category category-default1 category-absolute">
                <a href="market2-shop.html">
                    <figure>
                        <img src="../assets/templates/2.jpg" alt="Category" width="213" height="213">
                    </figure>
                    <div class="category-content">
                        <h6 class="category-name">Affordable Tuition</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col mb-4">
            <div class="category category-default1 category-absolute">
                <a href="market2-shop.html">
                    <figure>
                        <img src="../assets/templates/3.jpg" alt="Category" width="213" height="213">
                    </figure>
                    <div class="category-content">
                        <h6 class="category-name">Modern Facilities</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col mb-4">
            <div class="category category-default1 category-absolute">
                <a href="market2-shop.html">
                    <figure>
                        <img src="../assets/templates/4.jpg" alt="Category" width="213" height="213">
                    </figure>
                    <div class="category-content">
                        <h6 class="category-name">Personalized Attention</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col mb-4">
            <div class="category category-default1 category-absolute">
                <a href="market2-shop.html">
                    <figure>
                        <img src="../assets/templates/5.jpg" alt="Category" width="213" height="213">
                    </figure>
                    <div class="category-content">
                        <h6 class="category-name">Interactive Learning</h6>
                    </div>
                </a>
            </div>
        </div>
        <div class="col mb-4">
            <div class="category category-default1 category-absolute">
                <a href="market2-shop.html">
                    <figure>
                        <img src="../assets/templates/6.jpg" alt="Category" width="213" height="213">
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">Cameras</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col mb-4">
            <div class="category category-default1 category-absolute">
                <a href="market2-shop.html">
                    <figure>
                        <img src="../assets/templates/6.jpg" alt="Category" width="213" height="213">
                    </figure>
                    <div class="category-content">
                        <h4 class="category-name">Cameras</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>