<div class="wrapper">

    <app-dashboard-header></app-dashboard-header>
 
     <!--=================================
     Main content -->
 
     <div>
 
      <app-student-dashboard-sidebar></app-student-dashboard-sidebar>
 
       <!--=================================
       wrapper -->
       <div class="content-wrapper">

        <app-student-dashboard-banner></app-student-dashboard-banner>
        <div class="right-sidebar-dashboard">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- single dashboard-card -->
                    <div class="single-dashboard-card">
                        <div class="icon">
                            <i class="material-icons account">menu_book</i>
                        </div>
                        <h5 class="title"><span class="counter animated fadeInDownBig">30</span></h5>
                        <p>Enrolled Courses</p>
                    </div>
                    <!-- single dashboard-card end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- single dashboard-card -->
                    <div class="single-dashboard-card">
                        <div class="icon">
                            <i class="material-icons account">school</i>
                        </div>
                        <h5 class="title"><span class="counter animated fadeInDownBig">10</span></h5>
                        <p>Active Courses</p>
                    </div>
                    <!-- single dashboard-card end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- single dashboard-card -->
                    <div class="single-dashboard-card">
                        <div class="icon">
                            <i class="material-icons account">workspace_premium</i>
                        </div>
                        <h5 class="title"><span class="counter animated fadeInDownBig">36</span></h5>
                        <p>Completed Courses</p>
                    </div>
                    <!-- single dashboard-card end -->
                </div>

            </div>
            <div class="row mt--40">
                <div class="col-lg-12">
                    <!-- in progress course area -->
                    <div class="in-progress-course-wrapper  title-between-dashboard mb--10 mt-5">
                        <h5 class="title">My Courses</h5>
                        <a href="#" class="more">View All</a>
                    </div>
                    <!-- in progress course area end -->

                    <!-- my course enroll wrapper -->
                    <div class="my-course-enroll-wrapper-board">
                        <!-- single course inroll -->
                        <div class="single-course-inroll-board head">
                            <div class="name">
                                <h2>My Course</h2>
                            </div>
                            <div class="enroll">
                                <h2>Enrolled</h2>
                            </div>
                            <div class="rating">
                                <h2>Rating</h2>
                            </div>
                        </div>
                        <!-- single course inroll end -->
                        <!-- single course inroll -->
                        <div class="single-course-inroll-board">
                            <div class="name">
                                <p>New Course</p>
                            </div>
                            <div class="enroll">
                                <p>2</p>
                            </div>
                            <div class="rating">
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                            </div>
                        </div>
                        <!-- single course inroll end -->
                        <!-- single course inroll -->
                        <div class="single-course-inroll-board">
                            <div class="name">
                                <p>My Course</p>
                            </div>
                            <div class="enroll">
                                <p>0</p>
                            </div>
                            <div class="rating">
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                            </div>
                        </div>
                        <!-- single course inroll end -->
                        <!-- single course inroll -->
                        <div class="single-course-inroll-board">
                            <div class="name">
                                <p>Test New Course</p>
                            </div>
                            <div class="enroll">
                                <p>2</p>
                            </div>
                            <div class="rating">
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                            </div>
                        </div>
                        <!-- single course inroll end -->
                        <!-- single course inroll -->
                        <div class="single-course-inroll-board">
                            <div class="name">
                                <p>New Course</p>
                            </div>
                            <div class="enroll">
                                <p>2</p>
                            </div>
                            <div class="rating">
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                                <i class="material-icons account">star</i>
                            </div>
                        </div>
                        <!-- single course inroll end -->
                    </div>
                    <!-- my course enroll wrapper end -->
                </div>
            </div>
        </div>
        <footer class="bg-white p-4">
            <div class="row">
              <div class="col-md-6">
                <div class="text-center text-md-start">
                  <p class="mb-0"> &copy; Copyright || Siddhartha Paul || All rights reserved 2025. </p>
                </div>
              </div>
            </div>
          </footer>
       </div>
       <!--=================================
       wrapper -->
     </div>
     <!--=================================
     Main content -->
   </div>