.about-one {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.about-one__shape-1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.about-one__shape-1 img {
    width: auto;
    animation: topBottom 3s ease-in-out infinite;
}

.about-one__shape-2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.about-one__shape-2 img {
    width: auto;
    animation: topBottom 3s ease-in-out infinite;
}

.about-one__left {
    position: relative;
    display: block;
    margin-top: 21px;
    z-index: 1;
}

.about-one__left-shape-1 {
    position: absolute;
    top: 27px;
    left: 44px;
    width: 492px;
    height: 492px;
    border: 1px solid var(--fistudy-primary);
    border-radius: 50%;
}

.about-one__img-box {
    position: relative;
    display: block;
    margin-right: 47px;
}

.about-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 15px;
    z-index: 1;
}

.about-one__img::before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
}

.about-one__img-box:hover .about-one__img::before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.about-one__img img {
    width: 100%;
    border-radius: 15px;
    transition: .5s ease;
    transform: scale(1.05);
}

.about-one__img-box:hover .about-one__img img {
    transform: scale(1);
}

.about-one__awards-box {
    position: relative;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.09);
    border-radius: 12px;
    margin-right: 41px;
    margin-left: 68px;
    padding: 18px 23px 21px;
    margin-top: 24px;
}

.about-one__awards-box::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 1px dashed var(--fistudy-bdr-color);
    border-radius: 12px;
}

.about-one__awards-count-box {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.about-one__awards-count-box h3 {
    font-family: var(--fistudy-font-two) !important;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    line-height: 48px !important;
}

.about-one__awards-count-box span {
    font-family: var(--fistudy-font-two) !important;
    font-size: 48px;
    font-weight: 700;
    font-style: italic;
    line-height: 48px !important;
    color: var(--fistudy-black);
}

.about-one__awards-box p {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    font-family: var(--fistudy-font-two);
    font-style: italic;
    color: var(--fistudy-base);
    margin-top: 2px;
}

.about-one__experience-box {
    position: relative;
    display: block;
    max-width: 225px;
    width: 100%;
    margin-left: -38px;
    margin-top: 13px;
    margin-bottom: 20px;
}

.about-one__experience-box-inner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    padding: 17px 20px 0px;
    z-index: 1;
}

.about-one__experience-box-shape {
    position: absolute;
    top: 6px;
    left: 6px;
    right: -6px;
    bottom: -6px;
    border: 2px solid var(--fistudy-black);
    border-radius: 45px;
    z-index: -1;

}

.about-one__experience-icon {
    position: relative;
    display: block;
}

.about-one__experience-icon img {
    width: auto;
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.about-one__experience-box-inner:hover .about-one__experience-icon img {
    transform: scale(0.9);
}

.about-one__experience-count-box {
    position: relative;
    display: block;
}

.about-one__experience-count {
    position: relative;
    display: flex;
    align-items: center;
}

.about-one__experience-count h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px !important;
    font-family: var(--fistudy-font-two) !important;
}

.about-one__experience-count span {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px !important;
    font-family: var(--fistudy-font-two) !important;
    color: var(--fistudy-black);
}

.about-one__experience-count>p {
    font-weight: 600;
    font-family: var(--fistudy-font-two);
    color: var(--fistudy-black);
    text-transform: capitalize;
    position: relative;
    top: 9px;
    margin-left: 5px;
    font-size: 16px;
    line-height: 11px;
}

.about-one__experience-count-box>p {
    font-weight: 600;
    font-family: var(--fistudy-font-two);
    color: var(--fistudy-black);
    text-transform: lowercase;
    font-size: 16px;
    line-height: 26px;
}

.about-one__img-box-2 {
    position: relative;
    display: block;
    margin-left: -47px;
    margin-right: 46px;
}

.about-one__img-2 {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 12px;
    z-index: 1;
}

.about-one__img-2::before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
}

.about-one__img-box-2:hover .about-one__img-2::before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.about-one__img-2 img {
    width: 100%;
    border-radius: 12px;
    transition: .5s ease;
    transform: scale(1.05);
}

.about-one__img-box-2:hover .about-one__img-2 img {
    transform: scale(1);
}

.about-one__img-shape-1 {
    position: absolute;
    top: 12px;
    left: -50px;
    z-index: 3;
}

.about-one__img-shape-1 img {
    width: auto;
}

.about-one__right {
    position: relative;
    display: block;
}

.about-one__right .section-title {
    margin-bottom: 20px;
}

.about-one__mission-and-vision {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #646464;
    font-size: 18px;
    font-family: var(--fistudy-font);
}

.about-one__text {
    color: #646464;
    font-size: 18px;
    font-family: var(--fistudy-font);
}

.about-one__mission-and-vision li {
    position: relative;
    display: block;
}

.about-one__icon-and-title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 13px;
    margin-bottom: 14px;
}

.about-one__icon {
    position: relative;
    display: block;
}

.about-one__icon img {
    width: auto;
    transition: all 500ms linear;
    transition-delay: 0.1s;
    transform: scale(1);
}

.about-one__mission-and-vision li:hover .about-one__icon img {
    transform: scale(0.9);
}

.about-one__icon-and-title h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    font-family: var(--fistudy-font-two);
    text-transform: capitalize;
    font-style: italic;
}

.about-one__btn-and-live-class {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
}

.about-one__btn-box {
    position: relative;
    display: block;
}

.about-one__live-class {
    position: relative;
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    font-family: var(--fistudy-font-two);
    color: #FFC224;
    -webkit-text-stroke: 1px var(--fistudy-black);
}

.about-one__live-class img {
    position: absolute;
    top: -14px;
    right: -22px;
}

.section-title__title {
    color: var(--fistudy-black);
    font-size: 40px;
    line-height: 1.2em;
    font-weight: 600;
    margin: 6px 0 0;
    text-transform: capitalize;
}

.section-title__title span {
    position: relative;
    display: inline-block;
    color: var(--fistudy-base);
    font-family: var(--fistudy-font-two);
    font-style: italic;
    z-index: 1;
}

.section-title__title img {
    position: relative;
    bottom: -24px;
    right: 159px;
    height: 18px;
    width: 157px;
}

.section-title__tagline {
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    color: var(--fistudy-black);
    font-weight: 600;
    text-transform: capitalize;
    font-family: var(--fistudy-font-two);
    font-style: italic;
}

.section-title__tagline-shape {
    position: relative;
    display: block;
    width: 12px;
    height: 12px;
    background-color: var(--fistudy-base);
    border-radius: 50%;
    top: 12px;
    right: 4px;
}

.thm-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    outline: none !important;
    gap: 10px;
    font-weight: 500;
    color: var(--fistudy-white);
    padding: 11px 25px 12px;
    border-radius: 25px;
    background-color: var(--fistudy-base);
    z-index: 2;
    text-align: center;
    overflow: hidden;
    font-family: var(--fistudy-font-two);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-decoration: none;
}

.thm-btn::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  bottom: -20px;
  right: -7px;
  background-color: rgba(var(--fistudy-white-rgb), .30);
  border-radius: 50%;
  background-position: left center;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: scaleX(1);
  transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
  z-index: -1;
}

.thm-btn:hover::before {
  background-color: rgba(var(--fistudy-black-rgb), 1);
  width: 120%;
  height: 200%;
  transform: scaleX(1.0);
  transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 2s;
}