<section class="ftco-section" *ngIf="!routeStatusService.hideHeader">
   <div class="container">
    <nav class="navbar navbar-expand-sm">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">
          <img class="logo" src="../assets/templates/logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link text-dark" href="javascript:void(0)">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="javascript:void(0)">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" routerLink="courses">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="javascript:void(0)">Contact Us</a>
            </li>
          </ul>
          <div class="d-flex">
            <div class="d-flex align-items-center mx-3"><mat-icon>phone</mat-icon> <span class="nav-link">+1-202-555-0115</span></div>
            <a href="#" class="btn btn-primary btn-pink">Get Started</a>
          </div>
        </div>
      </div>
    </nav>
   </div>

</section>