.logo{
  max-width: 160px;
}

.navbar-collapse{
  font-family: "Inter", sans-serif;
}

.nav-item{
  padding: 0.7em;
}

.nav-link{
  font-weight: 500;
  font-size: 17px;
}

.btn-pink{
  background: #F020B3;
    border: #F020B3;
    padding: 8px 30px 8px 30px;
    border-radius: 10px;
}