<div class="wrapper" *ngIf="hasAccess; else noAccess">

   <app-dashboard-header></app-dashboard-header>

    <!--=================================
    Main content -->

    <div>

     <app-dashboard-sidebar></app-dashboard-sidebar>

      <!--=================================
      wrapper -->
      <div class="content-wrapper">
        <div class="page-title">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="mb-0"> Dashboard</h4>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb pt-0 pe-0 float-start float-sm-end">
                <li class="breadcrumb-item"><a routerLink="/dashboard" class="default-color text-light">Home</a></li>
                <li class="breadcrumb-item active ps-0 text-light">Dashboard</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- widgets -->
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 mb-20">
            <div class="card card-statistics h-100" style="background-color: #6a73fa;">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-start">
                    <span class="text-light">
                      <mat-icon>group</mat-icon>
                    </span>
                  </div>
                  <div class="float-end text-end">
                    <p class="card-text text-light">TOTAL STUDENTS</p>
                    <h4>65,650</h4>
                  </div>
                </div>
                <p class="text-light pt-3 mb-0 mt-2 border-top">
                  80% Increase in 20 Days
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mb-20">
            <div class="card card-statistics h-100" style="background-color: #ffaa16;">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-start">
                    <span class="text-light">
                      <mat-icon>group</mat-icon>
                    </span>
                  </div>
                  <div class="float-end text-end">
                    <p class="card-text text-light">NEW STUDENTS</p>
                    <h4>656</h4>
                  </div>
                </div>
                <p class="text-light pt-3 mb-0 mt-2 border-top">
                  50% Increase in 25 Days
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mb-20">
            <div class="card card-statistics h-100" style="background-color: #673bb7;">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-start">
                    <span class="text-light">
                      <mat-icon>library_books</mat-icon>
                    </span>
                  </div>
                  <div class="float-end text-end">
                    <p class="card-text text-light">TOTAL COURSE</p>
                    <h4>$65656</h4>
                  </div>
                </div>
                <p class="text-light pt-3 mb-0 mt-2 border-top">
                  76% Increase in 20 Days
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mb-20">
            <div class="card card-statistics h-100" style="background-color: #ff1616;">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-start">
                    <span class="text-light">
                     <mat-icon>payments</mat-icon>
                    </span>
                  </div>
                  <div class="float-end text-end">
                    <p class="card-text text-light">
                      FEES COLLECTION</p>
                    <h4>62,500+</h4>
                  </div>
                </div>
                <p class="text-light pt-3 mb-0 mt-2 border-top">
                  30% Increase in 30 Days
                </p>
              </div>
            </div>
          </div>
        </div>

        <!--=================================
        footer -->
        <footer class="bg-white p-4">
          <div class="row">
            <div class="col-md-6">
              <div class="text-center text-md-start">
                <p class="mb-0"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span>. <a href="#"> Webmin </a> All Rights Reserved. </p>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="text-center text-md-end">
                <li class="list-inline-item"><a href="#">Terms & Conditions </a> </li>
                <li class="list-inline-item"><a href="#">API Use Policy </a> </li>
                <li class="list-inline-item"><a href="#">Privacy Policy </a> </li>
              </ul>
            </div>
          </div>
        </footer>
        <!--=================================
        footer -->
      </div>
      <!--=================================
      wrapper -->
    </div>
    <!--=================================
    Main content -->
  </div>

  <ng-template #noAccess>

<div class="container-star screen">
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-1"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
  <div class="star-2"></div>
</div>
<div class="container container-bird">
 
  <div class="container-title">
    <div class="title">
      <div class="number">4</div>
      <div class="moon">
        <div class="face">
          <div class="mouth"></div>
          <div class="eyes">
            <div class="eye-left"></div>
            <div class="eye-right"></div>
          </div>
        </div>
      </div>
      <div class="number">3</div>
    </div>
    <div class="subtitle">Oops. Looks like you took a wrong turn.</div>
    <button type="button" routerLink="/login">Go Back</button>
  </div>
</div>
</ng-template>