<div class="wrapper">

   <app-dashboard-header></app-dashboard-header>

    <!--=================================
    Main content -->

    <div>

     <app-dashboard-sidebar></app-dashboard-sidebar>

      <!--=================================
      wrapper -->
      <div class="content-wrapper">
        <div class="page-title">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="mb-0"> Dashboard</h4>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb pt-0 pe-0 float-start float-sm-end">
                <li class="breadcrumb-item"><a routerLink="/dashboard" class="default-color text-light">Home</a></li>
                <li class="breadcrumb-item active ps-0 text-light">Dashboard</li>
              </ol>
            </div>
          </div>
        </div>
        <!-- widgets -->
        <div class="row">
          <div class="col-xl-3 col-lg-6 col-md-6 mb-20">
            <div class="card card-statistics h-100" style="background-color: #6a73fa;">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-start">
                    <span class="text-light">
                      <mat-icon>group</mat-icon>
                    </span>
                  </div>
                  <div class="float-end text-end">
                    <p class="card-text text-light">TOTAL STUDENTS</p>
                    <h4>65,650</h4>
                  </div>
                </div>
                <p class="text-light pt-3 mb-0 mt-2 border-top">
                  80% Increase in 20 Days
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mb-20">
            <div class="card card-statistics h-100" style="background-color: #ffaa16;">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-start">
                    <span class="text-light">
                      <mat-icon>group</mat-icon>
                    </span>
                  </div>
                  <div class="float-end text-end">
                    <p class="card-text text-light">NEW STUDENTS</p>
                    <h4>656</h4>
                  </div>
                </div>
                <p class="text-light pt-3 mb-0 mt-2 border-top">
                  50% Increase in 25 Days
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mb-20">
            <div class="card card-statistics h-100" style="background-color: #673bb7;">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-start">
                    <span class="text-light">
                      <mat-icon>library_books</mat-icon>
                    </span>
                  </div>
                  <div class="float-end text-end">
                    <p class="card-text text-light">TOTAL COURSE</p>
                    <h4>$65656</h4>
                  </div>
                </div>
                <p class="text-light pt-3 mb-0 mt-2 border-top">
                  76% Increase in 20 Days
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6 col-md-6 mb-20">
            <div class="card card-statistics h-100" style="background-color: #ff1616;">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-start">
                    <span class="text-light">
                     <mat-icon>payments</mat-icon>
                    </span>
                  </div>
                  <div class="float-end text-end">
                    <p class="card-text text-light">
                      FEES COLLECTION</p>
                    <h4>62,500+</h4>
                  </div>
                </div>
                <p class="text-light pt-3 mb-0 mt-2 border-top">
                  30% Increase in 30 Days
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 mb-20">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">New Courses </h5>
                <div class="row mb-30">
                  <div class="table-responsive intuition-table">
                    <table class="table card-table">
                      <tbody>
                        <tr *ngFor="let student of studentsList">
                          <td>
                            <div class="d-flex align-items-center intuition-profile">
                              <div class="me-sm-4 me-2">
                                <img [src]="student.imageUrl" class="rounded-circle" alt="" width="64">
                              </div>
                              <div class="info text-light">
                                <h6 class="mb-0">{{student.name}}</h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex align-items-start">
                              <div class="info-2">
                                <h6 class="mb-0 text-light text-nowrap font-w700">{{student.class}}</h6>
                                <span class="text-muted">Class</span>
                              </div>
                            </div>	
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 mb-20">
            <div class="card card-statistics h-100">
              <div class="card-body">
                <div class="tab nav-border" style="position: relative;">
                  <div class="d-block d-md-flex justify-content-between">
                    <div class="d-block w-100">
                      <h5 class="card-title">Upcoming Notice</h5>
                    </div>
                  </div>
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="months" role="tabpanel" aria-labelledby="months-tab">
                      <div class="row mb-20">
                        <div class="col-md-2 col-sm-6">
                          <img class="img-fluid" src="../assets/dashboard/05.jpg" alt="">
                        </div>
                        <div class="col-md-8 col-sm-6">
                          <h6 class="mb-0 sm-mt-5">Supercharge your motivation</h6>
                          <p class="text-light">I truly believe Augustine’s words are true. by - PotenzaUser</p>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h6 class="text-secondary mb-0">20/08/2024</h6>
                        </div>
                      </div>
                      <div class="row mb-20">
                        <div class="col-md-2 col-sm-6">
                          <img class="img-fluid" src="../assets/dashboard/02.jpg" alt="">
                        </div>
                        <div class="col-md-8 col-sm-6">
                          <h6 class="mb-0 sm-mt-5">Helen keller a teller seller</h6>
                          <p class="text-light">I truly believe Augustine’s words are true. by - PotenzaUser</p>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h6 class="text-danger mb-0">20/08/2024</h6>
                        </div>
                      </div>
                      <div class="row mb-20">
                        <div class="col-md-2 col-sm-6">
                          <img class="img-fluid" src="../assets/dashboard/03.jpg" alt="">
                        </div>
                        <div class="col-md-8 col-sm-6">
                          <h6 class="mb-0 sm-mt-5">The other virtues practice</h6>
                          <p class="text-light">I truly believe Augustine’s words are true. by - PotenzaUser</p>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h6 class="text-info mb-0">20/08/2024</h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2 col-sm-6">
                          <img class="img-fluid" src="../assets/dashboard/04.jpg" alt="">
                        </div>
                        <div class="col-md-8 col-sm-6">
                          <h6 class="mb-0 sm-mt-5">You will begin to realise</h6>
                          <p class="text-light">I truly believe Augustine’s words are true. by - PotenzaUser</p>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h6 class="text-success mb-0">20/08/2024</h6>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="year" role="tabpanel" aria-labelledby="year-tab">
                      <div class="row mb-20">
                        <div class="col-md-2 col-sm-6">
                          <img class="img-fluid" src="images/blog/09.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <h6 class="mb-0 sm-mt-5">Walk out 10 years into</h6>
                          <p class="sm-mb-5 d-block">Understanding the price and having the willingness to pay. </p>
                          <span class="mb-0">by - <b class="text-danger">TheZayka</b> </span>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h5 class="text-light mb-0"><b>12,549</b></h5>
                          <span>Sales</span>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h5 class="theme-color mb-0"><b>$1,656</b></h5>
                          <span>Revenue</span>
                        </div>
                      </div>
                      <div class="row mb-20">
                        <div class="col-md-2 col-sm-6">
                          <img class="img-fluid" src="images/blog/06.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <h6 class="mb-0 sm-mt-5">Step out on to the path</h6>
                          <p class="sm-mb-5 d-block">Success to you and then pull it out when you are.</p>
                          <span class="mb-0">by - <b class="text-info">CarDealer</b> </span>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h5 class="text-primary mb-0"><b>1,366</b></h5>
                          <span>Sales</span>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h5 class="text-secondary mb-0"><b>$4,536</b></h5>
                          <span>Revenue</span>
                        </div>
                      </div>
                      <div class="row mb-20">
                        <div class="col-md-2 col-sm-6">
                          <img class="img-fluid" src="images/blog/07.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <h6 class="mb-0 sm-mt-5">Briefly imagine that you</h6>
                          <p class="sm-mb-5 d-block">Motivators for your personality and your personal goals. </p>
                          <span class="mb-0">by - <b class="text-success">SamMartin</b> </span>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h5 class="text-success mb-0"><b>465</b></h5>
                          <span>Sales</span>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h5 class="text-danger mb-0"><b>$499</b></h5>
                          <span>Revenue</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2 col-sm-6">
                          <img class="img-fluid" src="images/blog/08.jpg" alt="">
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <h6 class="mb-0 sm-mt-5">You continue doing what</h6>
                          <p class="sm-mb-5 d-block">The first thing to remember about success is that. </p>
                          <span class="mb-0">by - <b class="text-warning">Cosntro</b> </span>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h5 class="text-warning mb-0"><b>4,456</b></h5>
                          <span>Sales</span>
                        </div>
                        <div class="col-md-2 col-sm-6 col-6 sm-mt-20">
                          <h5 class="text-info mb-0"><b>$6,485</b></h5>
                          <span>Revenue</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-5 mb-20">
            <div class="card card-statistics h-100">
              <div class="card-body">
                <h5 class="card-title">Calender</h5>
                <div class="box">
                  <div class="text">
      
                      <h2><span class="todaysDay">01</span>, <span class="todaysWeekDay">Monday</span></h2>
                      <p class="month">December</p>
                      <p class="year">2010</p>
                  </div> <!-- text -->
      
                  <div class="dates">
                      <div class="day">S</div>
                      <div class="day">M</div>
                      <div class="day">T</div>
                      <div class="day">W</div>
                      <div class="day">T</div>
                      <div class="day">F</div>
                      <div class="day">S</div>
                  </div> <!-- dates -->
              </div>
                
              </div>
            </div>
          </div>
          <div class="col-xl-7 mb-20">
            <div class="card card-statistics h-100">
              <div class="card-body">
                <h5 class="card-title">Upcoming Events</h5>
                
                <div class="loadmore-content height800 dz-scroll" id="DietMenusContent">
                  <div class="card-body border-bottom">
                    <div class="media mb-3">
                      <img class="rounded" src="https://www.signupgenius.com/cms/images/parent-teacher-conference-questions-article-600x400.jpg" style="width:100%;" alt="">
                    </div>
                    <div class="info">
                      <h6 class="text-black mb-3"><a href="https://owlio.dexignzone.com/codeigniter/demo/ecom_product_details" class="text-light">Parent-Teacher Conferences</a></h6>
                    </div>
                  </div>
                  <div class="card-body border-bottom">
                    <div class="media mb-3">
                      <img class="rounded" src="https://owlio.dexignzone.com/codeigniter/demo/public/assets/images/card/pic12.jpg" style="width:100%;" alt="">
                    </div>
                    <div class="info">
                      <h6 class="text-black mb-3"><a href="https://owlio.dexignzone.com/codeigniter/demo/ecom_product_details" class="text-light">School Plays and Musicals</a></h6>
                    </div>
                  </div>
                  <div class="card-body border-bottom">
                    <div class="media mb-3">
                      <img class="rounded" src="https://owlio.dexignzone.com/codeigniter/demo/public/assets/images/card/pic11.jpg" style="width:100%;" alt="">
                    </div>
                    <div class="info">
                      <h6 class="text-black mb-3"><a href="https://owlio.dexignzone.com/codeigniter/demo/ecom_product_details" class="text-light">Graduation Ceremony</a></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--=================================
        footer -->
        <footer class="bg-white p-4">
          <div class="row">
            <div class="col-md-6">
              <div class="text-center text-md-start">
                <p class="mb-0"> &copy; Copyright <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span>. <a href="#"> Webmin </a> All Rights Reserved. </p>
              </div>
            </div>
            <div class="col-md-6">
              <ul class="text-center text-md-end">
                <li class="list-inline-item"><a href="#">Terms & Conditions </a> </li>
                <li class="list-inline-item"><a href="#">API Use Policy </a> </li>
                <li class="list-inline-item"><a href="#">Privacy Policy </a> </li>
              </ul>
            </div>
          </div>
        </footer>
        <!--=================================
        footer -->
      </div>
      <!--=================================
      wrapper -->
    </div>
    <!--=================================
    Main content -->
  </div>