
 <section class="about-three">
    <div class="about-three__shape-2 rotate-me"></div>
    <div class="about-three__shape-3 text-rotate-box"></div>
    <div class="about-three__shape-4 float-bob-y"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="about-three__left wow slideInLeft animated" data-wow-delay="100ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInLeft;">
                    <div class="about-three__shape-1 img-bounce">
                        <img src="assets/templates/about-three-shape-1.png" alt="">
                    </div>
                    <div class="about-three__img-box">
                        <div class="about-three__img-one">
                            <img src="assets/templates/about-three-img-1.jpg" alt="">
                        </div>
                        <div class="about-three__img-two">
                            <img src="assets/templates/about-three-img-2.jpg" alt="">
                        </div>
                        <div class="about-three__experience-box">
                            <div class="about-three__experience-box-inner">
                                <div class="about-three__experience-icon">
                                    <img src="assets/templates/about-three-experience-icon.png" alt="">
                                </div>
                                <div class="about-three__experience-count-box">
                                    <div class="about-three__experience-count">
                                        <h3 class="odometer odometer-auto-theme" data-count="25">25</h3>
                                        <span>+</span>
                                        <p>Years</p>
                                    </div>
                                    <p>of experience</p>
                                </div>
                            </div>
                            <div class="about-three__experience-box-shape"></div>
                        </div>
                    </div>
                </div>
            </div>                
            <div class="col-xl-5">
                <div class="about-three__right">
                    <div class="section-title-two text-left sec-title-animation animation-style2">
                        <div class="section-title-two__tagline-box">
                        </div>
                        <h2 class="section-title-two__title title-animation">Behind the Scenes: Discover
                            the People & Passion <span>Behind</span>
                            <img src="assets/templates/section-title-shape-1.png" alt="">
                        </h2>
                    </div>
                    <p class="about-three__text-1">Meet the passionate educators, developers, and creators who power our learning platform. United by a love for knowledge and a dedication to innovation, our team works every day to build transformative educational experiences for learners around the world.</p>
                    <div class="about-three__mission-vission">
                        <div class="about-three__tab-box tabs-box">
                            <div class="tabs-content">
                                <!--tab-->
                                <div class="tab active-tab" id="mission" style="display: block;">
                                    <div class="tabs-content__inner">
                                        <ul class="list-unstyled about-three__mission-vission-list">
                                            <li>
                                                <div class="about-three__mission-vission-content">
                                                    <h4 class="about-three__mission-vission-title">Empowering Learning Through Innovation</h4>
                                                    <p class="about-three__mission-vission-text">We provide intuitive tools for course creation, seamless enrollment, and detailed learner progress tracking to ensure a smooth and effective educational journey.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="about-three__mission-vission-content">
                                                    <h4 class="about-three__mission-vission-title">Fostering a Collaborative Learning Community</h4>
                                                    <p class="about-three__mission-vission-text">Our platform includes interactive features like discussion boards, direct messaging, and group projects to encourage connection, teamwork, and shared growth among learners.</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>