<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/templates/page-header-bg-shape.png);">
    </div>
    <div class="page-header__shape-4">
       <img src="assets/templates/page-header-shape-4.png" alt="">
    </div>
    <div class="page-header__shape-5">
       <img src="assets/templates/page-header-shape-5.png" alt="">
    </div>
    <div class="container">
       <div class="page-header__inner">
          <div class="page-header__img">
             <img src="assets/templates/page-header-img-1.png" alt="">
             <div class="page-header__shape-1">
                <img src="assets/templates/page-header-shape-1.png" alt="">
             </div>
             <div class="page-header__shape-2">
                <img src="assets/templates/page-header-shape-2.png" alt="">
             </div>
             <div class="page-header__shape-3">
                <img src="assets/templates/page-header-shape-3.png" alt="">
             </div>
          </div>
          <h2>Cart</h2>
          <div class="thm-breadcrumb__box">
             <ul class="thm-breadcrumb list-unstyled">
                <li><a href="#" routerLink="/">Home</a></li>
                <li><span>//</span></li>
                <li>Cart</li>
             </ul>
          </div>
       </div>
    </div>
 </section>

 <section class="cart-page">
        <div class="container">
           <h3 class="section-title-two__title title-animation" style="perspective: 400px;">Let’s Check What You’ve <span>Picked!</span></h3>
            <div class="table-responsive">
                <table class="table cart-table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <p *ngIf="cartItems.length === 0">Your cart is empty.</p>

                        <tr *ngFor="let item of cartItems">
                            <td>
                                <div class="product-box">
                                    <div class="img-box">
                                        <img src="{{item.image}}" alt="">
                                    </div>
                                    <h3><a>{{item.name}}</a></h3>
                                </div>
                            </td>
                            <td>{{item.price | currency}}</td>
                            <td>{{item.category}}</td>
                            <td>
                                {{item.price | currency}}
                            </td>
                            <td>
                                <div class="cross-icon" (click)="removeFromCart(item.id)">
                                   <i class="material-icons">close</i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <form action="#" class="default-form cart-cupon__form">
                        <input type="text" placeholder="Enter Coupon Code" class="cart-cupon__input">
                        <button class="thm-btn" type="submit">Apply Coupon</button>
                    </form>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <ul class="cart-total list-unstyled">
                        <li>
                            <span>Total</span>
                            <span class="cart-total-amount">{{ getTotalPrice().toFixed(2) | currency }}</span>
                        </li>
                    </ul>
                    <div class="cart-page__buttons">
                        <div class="cart-page__buttons-1">
                            <a class="thm-btn" href="#" routerLink="/courses">Update</a>
                        </div>
                        <div class="cart-page__buttons-2">
                            <a routerLink="/checkout" class="thm-btn">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>