<section class="sliding-text-one">
    <div class="marquee">
      <div class="marquee-box-one">
        <div class="marquee-content-one">
          <h2 class="marquee-text">Join 10,000+ Students Learning Online—Start Your Journey Today!</h2>
          <h2 class="marquee-text">New Courses Added Weekly—Stay Ahead of the Curve!</h2>
          <h2 class="marquee-text">Limited-Time Offer: Get 50% Off on All Premium Courses!</h2>
          <h2 class="marquee-text">Enroll Now & Access Lifetime Course Materials!</h2>
           <!-- content-dublicate -->
           <h2 class="marquee-text">Join 10,000+ Students Learning Online—Start Your Journey Today!</h2>
           <h2 class="marquee-text">New Courses Added Weekly—Stay Ahead of the Curve!</h2>
           <h2 class="marquee-text">Limited-Time Offer: Get 50% Off on All Premium Courses!</h2>
           <h2 class="marquee-text">Enroll Now & Access Lifetime Course Materials!</h2>
        </div>
        <div class="marquee-content-one">
          <h2 class="marquee-text">Join 10,000+ Students Learning Online—Start Your Journey Today!</h2>
          <h2 class="marquee-text">New Courses Added Weekly—Stay Ahead of the Curve!</h2>
          <h2 class="marquee-text">Limited-Time Offer: Get 50% Off on All Premium Courses!</h2>
          <h2 class="marquee-text">Enroll Now & Access Lifetime Course Materials!</h2>
           <!-- content-dublicate -->
           <h2 class="marquee-text">Join 10,000+ Students Learning Online—Start Your Journey Today!</h2>
           <h2 class="marquee-text">New Courses Added Weekly—Stay Ahead of the Curve!</h2>
           <h2 class="marquee-text">Limited-Time Offer: Get 50% Off on All Premium Courses!</h2>
           <h2 class="marquee-text">Enroll Now & Access Lifetime Course Materials!</h2>
        </div> <!-- marquee-content -->
      </div> <!-- marquee-box-one -->
      </div>
</section>