.sliding-text-one {
  position: relative;
  display: block;
  background-color: #425BFC;
  padding: 5px 0 8px;
  filter: drop-shadow(0px 11px 22px rgba(0, 0, 0, 0.12));
  z-index: 4;

}

.sliding-text__title {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--fistudy-white);
  font-size: 26px;
  line-height: 42px;
  font-weight: 500;
  font-style: normal;
  text-transform: capitalize;
  font-family: var(--fistudy-font);
}
.marquee-box-one {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
.marquee-content-one {
    display: flex;
    gap: 40px;
    padding: 0 20px;
    animation: scroll-one 90s linear infinite;
}
.marquee-box-two {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin: 3em 0 6em 0;
}
.marquee-content-two {
    display: flex;
    gap: 40px;
    padding: 0 20px;
    animation: scroll-two 30s linear infinite;
}
.marquee-text {
  white-space: nowrap;
  text-transform: capitalize;
  font-size: 22px;
  flex-shrink: 0;
  margin: 0;
  padding: 15px 30px;
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
}

@keyframes scroll-one {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
@keyframes scroll-two {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}