<div class="container">
    <div class="col-md-5 m-auto">
        <div class="tp-category-banner d-flex align-items-center justify-content-between tp-category-banner-bg mt-35" style="background-image: url(assets/templates/category-bg.jpg);">
            <div class="tp-category-banner-content d-flex align-items-center">
               <div class="tp-category-banner-shape">
                  <img src="assets/templates/category-2-shape-1.png" alt="">
               </div>
               <div class="tp-category-banner-text">
                  <span>Let Us Help</span>
                  <h4 class="tp-category-banner-title">Finding Your Right Courses</h4>
               </div>
            </div>
            <div class="tp-category-banner-btn">
               <a class="thm-btn" href="contact.html">Get Started</a>
            </div>
         </div>
    </div>
   </div>