<div class="small-card pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="tp-banner-sm-2-wrap">
                        <h3 class="tp-banner-sm-2-title">Earn a <br> 
                           <span>Certificate</span>
                        </h3>
                        <div class="tp-category-banner-btn"><a class="thm-btn" routerLink="/courses">View Programs</a></div>
                        <div class="tp-banner-sm-2-shape-1">
                           <img src="assets/templates/banner-2-thumb-1.png" alt="">
                        </div>
                     </div>
            </div>
            <div class="col-md-6">
                <div class="tp-banner-sm-2-wrap tp-banner-sm-2-bg-2">
                        <h3 class="tp-banner-sm-2-title">Best Rated <br> 
                           <span>Courses</span>
                        </h3>
                        <div class="tp-category-banner-btn"><a class="thm-btn orange" routerLink="/courses">View Programs</a></div>
                        <div class="tp-banner-sm-2-shape-1">
                           <img src="assets/templates/banner-2-thumb-1.png" alt="">
                        </div>
                     </div>
            </div>
        </div>
    </div>
</div>