<section class="banner">
  <div class="container">
    <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
      <div class="col-12 col-lg-6 mx-5">
        <h3 class="display-5 fw-bold mb-4 text-main">Engaging &<br> Accessible Online <br> <span>Courses For All</span></h3>
        <p class="fs-6 mb-5">Own your future learning new skills online</p>
        <div class="banner-content">
          <form class="form" action="course-list.html">
            <div class="form-inner">
              <div class="input-group">
                <mat-icon class="search_icon">search</mat-icon>
                <input type="email" class="form-control" placeholder="Search School, Online eductional centers, etc">
                <span class="drop-detail">
                  <select class="form-select select select2-hidden-accessible" data-select2-id="1" tabindex="-1" aria-hidden="true">
                    <option data-select2-id="3">Category</option>
                    <option data-select2-id="8">Angular</option>
                    <option data-select2-id="9">Node Js</option>
                    <option data-select2-id="10">React</option>
                    <option data-select2-id="11">Python</option>
                  </select>
                 
                </span>
                <button class="btn btn-primary sub-btn" type="submit"><mat-icon>arrow_right_alt</mat-icon></button>
              </div>
            </div>
          </form>
        </div>
        <div class="trust-user">
          <p>Trusted by over 15K Users <br>worldwide since 2024</p>
          <div class="trust-rating d-flex align-items-center">
            <div class="rate-head">
              <h2><span>0</span>+</h2>
            </div>
            <div class="rating d-flex align-items-center">
              <h2 class="d-inline-block average-rating">4.4</h2>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
              <mat-icon>star</mat-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <div class="position-relative">
          <img class="img-fluid position-relative z-2 banner-img" loading="lazy" src="../assets/templates/object.jpg" alt="A Digital Agency Specialized in AI and Web 3.0">
        </div>
      </div>
    </div>
  </div>
</section>