<!-- Hero 3 - Bootstrap Brain Component -->
<div class="container">
<section class="banner">
    <div class="overlay"></div>
      <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
        <div class="col-12 col-lg-6 mx-5">
          <h2 class="display-4 fw-bold mb-4 text-main">KIDS PROMISING<br> TOMORROW <span>AHEAD</span></h2>
          <p class="fs-5 mb-5">Our team of experts understands the ever-evolving <br>
            digital landscape, and we’re here to guide you through it.</p>
          <div class="d-grid gap-2 d-sm-flex">
            <button type="button" class="btn btn-primary bsb-btn-2xl banner-btn d-flex">Apply Today <mat-icon class="mx-2">arrow_right_alt</mat-icon></button>
          </div>
        </div>
        <div class="col-12 col-lg-5 text-center">
          <div class="position-relative">
            <img class="img-fluid position-relative z-2 banner-img" loading="lazy" src="../assets/templates/image-jump-child.png" alt="A Digital Agency Specialized in AI and Web 3.0">
          </div>
        </div>
      </div>
  </section>
</div>