 <!-- Left Sidebar start-->
 <div class="side-menu-fixed">
   <div class="scrollbar side-menu-bg">
     <ul class="nav navbar-nav side-menu" id="sidebarnav">
       <li>
         <a class="cursor-pointer" routerLink="/dashboard">
           <mat-icon>home</mat-icon><span class="right-nav-text">Dashboard</span>
         </a>
       </li>

       <li>
         <div class="d-inline-block w-100 cursor-pointer" ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            <mat-icon>book</mat-icon> <span class="right-nav-text"> Courses</span>
           </button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
             <button ngbDropdownItem routerLink="/all-courses">All Courses</button>
             <button ngbDropdownItem routerLink="/add-courses">Add New Course</button>
           </div>
         </div>
       </li>
       <li>
         <a class="cursor-pointer" routerLink="/orders">
           <mat-icon>local_shipping</mat-icon><span class="right-nav-text">All Orders</span>
         </a>
       </li>
       <li>
         <a class="cursor-pointer" routerLink="/review">
           <mat-icon>star</mat-icon><span class="right-nav-text">Reviews</span>
         </a>
       </li>
     </ul>
   </div>
 </div>
 <!-- Left Sidebar End-->