
<div class="wrapper">
    <div class="inner">
        <img src="assets/dashboard/image-1.png" alt="" class="image-1">
        <form action="">
            <h3>Email varified</h3>
            <div class="form-holder">
                <p class="text-muter text-center">Link has sent on your registered email. Please varify it.</p>
                <a routerLink="/login"><p class="mt-3 text-muted text-center text-decoration-underline">Back to Login</p></a>
            </div>
        </form>
        <img src="assets/dashboard/image-2.png" alt="" class="image-2">
    </div>
    
</div>