<section class="why-choose-three">
    <div class="why-choose-three__shape-1 img-bounce"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="why-choose-three__left">
                    <div class="section-title-two text-left sec-title-animation animation-style2">
                        <div class="section-title-two__tagline-box">
                        </div>
                        <h2 class="section-title-two__title title-animation" style="perspective: 400px;">
                            Discover Why Our Student<br> and Clients <span>Choose Us</span>
                        </h2>
                    </div>
                    <p class="why-choose-three__text-1">Meet the talented individuals who bring our vision to
                        life every day. With a shared passion and commitment, our team works tirelessly to
                        deliver exceptional quality and innovation. Discover the stories, skills, and dedication
                        that make us who we are.</p>
                    <div class="why-choose-three__ceo-speech-box">
                        <div class="why-choose-three__ceo-speech">
                            <div class="why-choose-three__ceo-img-two">
                                <img src="https://laravel-fistudy.unicktheme.com/assets/images/resources/why-choose-three-ceo-img-two.jpg" alt="">
                            </div>
                            <div class="why-choose-three__ceo-details">
                                <div class="why-choose-three__ceo-img">
                                    <img src="https://laravel-fistudy.unicktheme.com/assets/images/resources/why-choose-three-ceo-img.jpg" alt="">
                                </div>
                                <div class="why-choose-three__ceo-content">
                                    <p>CEO &amp; FOUNDER</p>
                                    <h5>Jordan Williamson</h5>
                                </div>
                            </div>
                            <p class="why-choose-three__ceo-text">It’s an honor to be here with all of you
                                today, especially at such a pivotal moment in the world of education and technology. As
                                we
                                gather here, we’re witnessing rapid shifts in how people learn, work, and grow, and
                                our mission at FIStudy has never felt more relevant.</p>
                        </div>
                        <div class="why-choose-three__ceo-speech-border"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="why-choose-three__right">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <ul class="list-unstyled why-choose-three__feature">
                                <li>
                                    <div class="why-choose-three__feature-single">
                                        <div class="why-choose-three__feature-img">
                                            <img src="https://laravel-fistudy.unicktheme.com/assets/images/icon/why-choose-three-feature-1.png" alt="">
                                        </div>
                                        <div class="why-choose-three__feature-content">
                                            <h4 class="why-choose-three__feature-title">AI-Driven
                                                Personalization</h4>
                                            <p class="why-choose-three__feature-text">Our platform leverages AI
                                                to tailor learning paths to individual users. This means each
                                                learner receives</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="why-choose-three__feature-single">
                                        <div class="why-choose-three__feature-img">
                                            <img src="https://laravel-fistudy.unicktheme.com/assets/images/icon/why-choose-three-feature-2.png" alt="">
                                        </div>
                                        <div class="why-choose-three__feature-content">
                                            <h4 class="why-choose-three__feature-title">Mobile-Optimized
                                                Learning</h4>
                                            <p class="why-choose-three__feature-text">With a fully responsive
                                                mobile interface, learners can access courses</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <ul class="list-unstyled why-choose-three__feature why-choose-three__feature--two">
                                <li>
                                    <div class="why-choose-three__feature-single">
                                        <div class="why-choose-three__feature-img">
                                            <img src="https://laravel-fistudy.unicktheme.com/assets/images/icon/why-choose-three-feature-3.png" alt="">
                                        </div>
                                        <div class="why-choose-three__feature-content">
                                            <h4 class="why-choose-three__feature-title">Gamified Learning
                                                Modules</h4>
                                            <p class="why-choose-three__feature-text">Our platform leverages AI
                                                to tailor learning paths to individual users. This means each
                                                learner receives </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="why-choose-three__feature-single">
                                        <div class="why-choose-three__feature-img">
                                            <img src="https://laravel-fistudy.unicktheme.com/assets/images/icon/why-choose-three-feature-4.png" alt="">
                                        </div>
                                        <div class="why-choose-three__feature-content">
                                            <h4 class="why-choose-three__feature-title">Real-Time Analytics and
                                                Reporting</h4>
                                            <p class="why-choose-three__feature-text">Administrators and
                                                educators can access real-time data insights, enabling them.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>