<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="widget1">
                    <div class="logo">
                        <img src="assets/templates/logo.png" class="img-fluid" alt="">
                    </div>
                    <p>
                        Learn Anywhere, Anytime.<br>
                        Join thousands of learners building their future with expert-led online courses. 
                    </p>
                    <div class="socialLinks">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="widget2">
                    <h5>
                        Latest News
                    </h5>
                    <div class="media d-flex">
                        <img class="img-fluid" src="assets/templates/blog1.jpg" alt="">
                        <div class="media-body d-flex align-self-center">
                            <div class="content">
                                <a href="#">
                                    <p>
                                            Did son unreserved themselves indulgence its
                                    </p>
                                </a>
                                <span>
                                    Aug 17, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="media d-flex">
                        <img class="img-fluid" src="assets/templates/blog2.jpg" alt="">
                        <div class="media-body d-flex align-self-center">
                            <div class="content">
                                <a href="#">
                                    <p>
                                            Rapturous am eagerness it as resolving household
                                    </p>
                                </a>
                                <span>
                                    Aug 17, 2019
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="widget3">
                    <h5>
                        Quick Links
                    </h5>
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                about Us
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Courses
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="widget4">
                    <h5>
                        Our Address
                    </h5>
                    <ul>
                        <li>
                            <a href="#">
                                themeforest
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                graphicriver
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                codecanyon
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                videohive
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                redpen
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                codepen
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyRightArea">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p>&copy; Copyright || Siddhartha Paul || All rights reserved 2025.</p>
                </div>
            </div>
        </div>
    </div>
</footer>