.newsletter__area {
    background: #5751e1;
    position: relative;
    padding: 35px 0 0;
    z-index: 1;
    overflow: hidden;
}


.newsletter__img-wrap {
    position: relative;
    text-align: center;
}

.newsletter__img-wrap img:not(:nth-child(1)) {
    position: absolute;
}

.newsletter__img-wrap img:nth-child(2) {
    left: 5%;
    bottom: 0;
    z-index: -1;
}

.newsletter__img-wrap img:nth-child(3) {
    right: 16%;
    top: 18%;
    z-index: -1;
}

.newsletter__content .title {
    margin-bottom: 25px;
    color: white;
    font-size: 36px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.2;
}

.newsletter__content .title span {
    font-weight: 700;
}

.newsletter__form {
    width: 80%;
}

.newsletter__form form input {
width: 70%;
    border: 1px solid #433EC2;
    background: #4A44D1;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    padding: 18px 20px;
    line-height: 1.4;
    height: 50px;
    flex-grow: 1;
    margin-right: 14px;
}

input:focus-visible {
    outline-offset: 0cap;
}

.newsletter__form form input::placeholder {
    color: #fff;
}

.newsletter__shape img {
    position: absolute;
    right: 14%;
    top: 0;
    z-index: -1;
}
.thm-btn {
    position: relative;
        border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    outline: none !important;
    gap: 10px;
    font-weight: 500;
    color: var(--fistudy-white);
    padding: 11px 25px 12px;
    border-radius: 25px;
    background-color: var(--fistudy-base);
    z-index: 2;
    text-align: center;
    overflow: hidden;
    font-family: var(--fistudy-font-two);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-decoration: none;
}

.thm-btn::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  bottom: -20px;
  right: -7px;
  background-color: rgba(var(--fistudy-white-rgb), .30);
  border-radius: 50%;
  background-position: left center;
  transition-timing-function: ease-in-out;
  transition-property: all;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: scaleX(1);
  transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
  z-index: -1;
}

.thm-btn:hover::before {
  background-color: rgba(var(--fistudy-black-rgb), 1);
  width: 120%;
  height: 200%;
  transform: scaleX(1.0);
  transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 2s;
}