<section class="newsletter-one mt-5">
    <div class="container">
        <div class="newsletter-one__inner">
            <div class="newsletter-one__bg-shape" style="background-image: url('assets/templates/newsletter-one-bg-shape.png');"></div>
            <h2 class="newsletter-one__title">Subscribe Our Newsletter</h2>
            <p class="newsletter-one__text">Explore a diverse selection of courses all in one platform,<br>
                designed to cater to various learning</p>
            <form class="newsletter-one__contact-form">
                <div class="newsletter-one__contact-input-box">
                    <input type="email" placeholder="Enter email address" name="subscribeMail" [(ngModel)]="subscribeMail">
                    <button type="submit" class="thm-btn" (click)="subscribe()"><span class="icon-angles-right"></span>Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</section>