<section class="newsletter-one">
    <div class="container">
        <div class="newsletter-one__inner">
            <div class="newsletter-one__bg-shape" style="background-image: url('https://laravel-fistudy.unicktheme.com/assets/images/shapes/newsletter-one-bg-shape.png');"></div>
            <div class="newsletter-one__shape-1 float-bob-y">
                <img src="https://laravel-fistudy.unicktheme.com/assets/images/shapes/newsletter-one-shape-1.png" alt="">
            </div>
            <div class="newsletter-one__shape-2 img-bounce">
                <img src="https://laravel-fistudy.unicktheme.com/assets/images/shapes/newsletter-one-shape-2.png" alt="">
            </div>
            <div class="newsletter-one__img">
                <img src="https://laravel-fistudy.unicktheme.com/assets/images/resources/newsletter-one-img-1.png" alt="">
            </div>
            <h2 class="newsletter-one__title">Subscribe Our Newsletter</h2>
            <p class="newsletter-one__text">Explore a diverse selection of courses all in one platform,<br>
                designed to cater to various learning</p>
            <form class="newsletter-one__contact-form">
                <div class="newsletter-one__contact-input-box">
                    <input type="email" placeholder="Enter email address" name="email">
                    <button type="submit" class="thm-btn"><span class="icon-angles-right"></span>Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</section>