<nav class="admin-header navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <!-- logo -->
    <div class="text-start navbar-brand-wrapper">
      <a class="navbar-brand brand-logo" href="index.html"><img src="images/logo-dark.png" alt="" ></a>
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-icon-dark.png" alt=""></a>
    </div>
    <!-- Top bar left -->
   
    <!-- top bar right -->
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item dropdown mr-30">
        <div class="about-one__btn-box" (click)="logOut()"><a class="about-one__btn thm-btn">Sign Out <i class="material-icons">logout</i></a></div>
      </li>
    </ul>
  </nav>
  <!--=================================
  header End-->