<section class="category-one">
    <div class="category-one__bg-shape"></div>
    <div class="category-one__shape-1">
        <img src="assets/templates/category-one-shape-1.png" alt="">
    </div>
    <div class="category-one__shape-3">
        <img src="assets/templates/category-one-shape-3.png" alt="">
    </div>
    <div class="category-one__social-media">
        <ul class="category-one__social-media-list list-unstyled">
            <li>
                <h3>Art &amp; design</h3>
            </li>
            <li>
                <img src="assets/templates/category-one-social-media-shape-1.png" alt="">
            </li>
            <li>
                <h3>Marketing</h3>
            </li>
            <li>
                <img src="assets/templates/category-one-social-media-shape-1.png" alt="">
            </li>
            <li>
                <h3>Programming</h3>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7">
                <div class="category-one__left">
                    <div class="section-title text-left sec-title-animation animation-style2">
                        <div class="section-title__tagline-box">
                            <div class="section-title__tagline-shape"></div>
                            <span class="section-title__tagline">Category</span>
                        </div>
                        <h2 class="section-title__title">
                            Browse Our Categories To <br>Find Exactly <span>Courses</span>
                        </h2>
                    </div>
                    <ul class="category-one__category-list list-unstyled mt-5">
                        <li>
                            <div class="category-one__count-and-arrow">
                                <div class="category-one__count-box">
                                    <div class="category-one__count"></div>
                                    <div class="category-one__count-content">
                                        <h3><a href="https://laravel-fistudy.unicktheme.com/course-details">tech &amp; Programing</a></h3>
                                        <p>10 Course</p>
                                    </div>
                                </div>
                                <div class="category-one__count-arrow">
                                    <a href="https://laravel-fistudy.unicktheme.com/course-details"><i class="material-icons">double_arrow</i></a>
                                </div>
                            </div>
                            <div class="category-one__hover-icon-and-arrow">
                                <div class="category-one__hover-icon-box">
                                    <div class="category-one__hover-icon">
                                        <img src="https://laravel-fistudy.unicktheme.com/assets/images/icon/category-one-hover-icon-1-1.png" alt="">
                                    </div>
                                    <div class="category-one__hover-content">
                                        <h3><a href="https://laravel-fistudy.unicktheme.com/course-details">tech &amp; Programing</a></h3>
                                        <p>10 Course</p>
                                    </div>
                                </div>
                                <div class="category-one__hover-arrow">
                                    <a href="https://laravel-fistudy.unicktheme.com/course-details"><i class="material-icons">call_missed_outgoing</i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="category-one__count-and-arrow">
                                <div class="category-one__count-box">
                                    <div class="category-one__count"></div>
                                    <div class="category-one__count-content">
                                        <h3><a href="https://laravel-fistudy.unicktheme.com/course-details">Art &amp; design</a></h3>
                                        <p>50 Course</p>
                                    </div>
                                </div>
                                <div class="category-one__count-arrow">
                                    <a href="https://laravel-fistudy.unicktheme.com/course-details"><i class="material-icons">double_arrow</i></a>
                                </div>
                            </div>
                            <div class="category-one__hover-icon-and-arrow">
                                <div class="category-one__hover-icon-box">
                                    <div class="category-one__hover-icon">
                                        <img src="assets/templates/category-one-hover-icon-1-1.png" alt="">
                                    </div>
                                    <div class="category-one__hover-content">
                                        <h3><a href="https://laravel-fistudy.unicktheme.com/course-details">Art &amp; design</a></h3>
                                        <p>50 Course</p>
                                    </div>
                                </div>
                                <div class="category-one__hover-arrow">
                                    <a href="https://laravel-fistudy.unicktheme.com/course-details"><i class="material-icons">call_missed_outgoing</i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="category-one__count-and-arrow">
                                <div class="category-one__count-box">
                                    <div class="category-one__count"></div>
                                    <div class="category-one__count-content">
                                        <h3><a href="https://laravel-fistudy.unicktheme.com/course-details">Online marketing</a></h3>
                                        <p>12 Course</p>
                                    </div>
                                </div>
                                <div class="category-one__count-arrow">
                                    <a href="https://laravel-fistudy.unicktheme.com/course-details"><i class="material-icons">double_arrow</i></a>
                                </div>
                            </div>
                            <div class="category-one__hover-icon-and-arrow">
                                <div class="category-one__hover-icon-box">
                                    <div class="category-one__hover-icon">
                                        <img src="https://laravel-fistudy.unicktheme.com/assets/images/icon/category-one-hover-icon-1-1.png" alt="">
                                    </div>
                                    <div class="category-one__hover-content">
                                        <h3><a href="https://laravel-fistudy.unicktheme.com/course-details">Online marketing</a></h3>
                                        <p>12 Course</p>
                                    </div>
                                </div>
                                <div class="category-one__hover-arrow">
                                    <a href="https://laravel-fistudy.unicktheme.com/course-details"><i class="material-icons">call_missed_outgoing</i></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="category-one__count-and-arrow">
                                <div class="category-one__count-box">
                                    <div class="category-one__count"></div>
                                    <div class="category-one__count-content">
                                        <h3><a href="https://laravel-fistudy.unicktheme.com/course-details">Content Creation</a></h3>
                                        <p>10 Course</p>
                                    </div>
                                </div>
                                <div class="category-one__count-arrow">
                                    <a href="https://laravel-fistudy.unicktheme.com/course-details"><i class="material-icons">double_arrow</i></a>
                                </div>
                            </div>
                            <div class="category-one__hover-icon-and-arrow">
                                <div class="category-one__hover-icon-box">
                                    <div class="category-one__hover-icon">
                                        <img src="https://laravel-fistudy.unicktheme.com/assets/images/icon/category-one-hover-icon-1-1.png" alt="">
                                    </div>
                                    <div class="category-one__hover-content">
                                        <h3><a href="https://laravel-fistudy.unicktheme.com/course-details">Content Creation</a></h3>
                                        <p>10 Course</p>
                                    </div>
                                </div>
                                <div class="category-one__hover-arrow">
                                    <a href="https://laravel-fistudy.unicktheme.com/course-details"><i class="material-icons">call_missed_outgoing</i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 wow slideInRight animated" data-wow-delay="100ms" data-wow-duration="2500ms" style="visibility: visible; animation-duration: 2500ms; animation-delay: 100ms; animation-name: slideInRight;">
                <div class="category-one__right">
                    <div class="category-one__img">
                        <img src="assets/templates/category-one-img-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>