<!-- Hero 3 - Bootstrap Brain Component -->
<div class="container">
    <section class="banner">
        <div class="overlay"></div>
          <div class="row align-items-lg-center">
            <div class="col-12 col-lg-7">
              <h2 class="display-5 fw-bold mb-4 text-main text-white">OUR POPULAR<br><span>COURSES</span></h2>
              <p class="mb-5 text-white lh-3">Our thoughtfully designed courses provide young learners with a strong foundation for their educational journey. The Early Learning Program sparks curiosity and creativity while enhancing sensory and motor skills, setting the stage for lifelong learning. The Preschool Readiness course equips children with essential skills in language, math, and social interaction, ensuring a smooth transition to kindergarten.</p>
              <div class="d-grid gap-2 d-sm-flex">
                <button type="button" class="btn btn-primary bsb-btn-2xl banner-btn d-flex">All Courses <mat-icon class="mx-2">arrow_right_alt</mat-icon></button>
              </div>
            </div>
            <div class="col-12 col-lg-5 text-center">
              <app-course-slider></app-course-slider>
            </div>
          </div>
      </section>
    </div>