.banner{
    background: #191919;
    border-radius: 40px;
    margin-top: 80px;
    padding-top: 90px;
    padding-bottom: 90px;
    }
    
    .text-main{
        font-family: "Inter", sans-serif;
    }
    
    .text-main span{
        color: #F020B3;
        font-style: italic;
    }
    
    .banner-btn{
        background: linear-gradient(180deg, #323544 0%, #121219 100%);
        border: none;
        padding: 12px 25px 12px 25px;
        border-radius: 10px;
        text-transform: uppercase;
    }
    
    .banner-img{
        right: 35px;
        top:  50px;
    }