<div class="slider-wrapper">
  <button class="ctrl-btn pro-prev"><mat-icon>arrow_upward</mat-icon></button>
  <div class="slider" id="slider">
    <div class="slide" id="slide">
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Course 1">
          <div class="card-body">
            <h3 class="card-title">Course 1</h3>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Course 2">
          <div class="card-body">
            <h3 class="card-title">Course 2</h3>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Course 2">
          <div class="card-body">
            <h3 class="card-title">Course 2</h3>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Course 2">
          <div class="card-body">
            <h3 class="card-title">Course 2</h3>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Course 2">
          <div class="card-body">
            <h3 class="card-title">Course 2</h3>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Course 2">
          <div class="card-body">
            <h3 class="card-title">Course 2</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="ctrl-btn pro-next"><mat-icon>arrow_downward</mat-icon></button>
</div>
