<div class="slider-wrapper">
  <button class="ctrl-btn pro-prev"><mat-icon>arrow_upward</mat-icon></button>
  <div class="slider" id="slider">
    <div class="slide" id="slide">
      <div class="item" *ngFor="let student of studentsList">
        <div class="card">
          <img class="card-img" [src]="student.imageUrl" alt="{{student.name}}">
          <div class="card-body">
            <h3 class="card-title">{{student.name}} <br><span>Class: {{student.roll}} </span></h3>
            <button class="btn-primary btn">Enroll Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="ctrl-btn pro-next"><mat-icon>arrow_downward</mat-icon></button>
</div>
