<div class="slider-wrapper">
  <button class="ctrl-btn pro-prev"><mat-icon>arrow_upward</mat-icon></button>
  <div class="slider" id="slider">
    <div class="slide" id="slide">
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Motion Graphic Design">
          <div class="card-body">
            <h3 class="card-title">Motion Graphic Design <br><span>13 Month</span></h3>
            <button class="btn-primary btn">Enroll Now</button>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Motion Graphic Design">
          <div class="card-body">
            <h3 class="card-title">Motion Graphic Design <br><span>13 Month</span></h3>
            <button class="btn-primary btn">Enroll Now</button>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Motion Graphic Design">
          <div class="card-body">
            <h3 class="card-title">Motion Graphic Design <br><span>13 Month</span></h3>
            <button class="btn-primary btn">Enroll Now</button>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Motion Graphic Design">
          <div class="card-body">
            <h3 class="card-title">Motion Graphic Design <br><span>13 Month</span></h3>
            <button class="btn-primary btn">Enroll Now</button>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Motion Graphic Design">
          <div class="card-body">
            <h3 class="card-title">Motion Graphic Design <br><span>13 Month</span></h3>
            <button class="btn-primary btn">Enroll Now</button>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="card-img" src="../assets/templates/slide.jpg" alt="Motion Graphic Design">
          <div class="card-body">
            <h3 class="card-title">Motion Graphic Design <br><span>13 Month</span></h3>
            <button class="btn-primary btn">Enroll Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="ctrl-btn pro-next"><mat-icon>arrow_downward</mat-icon></button>
</div>
