<div class="wrapper">
  <!-- ... -->
  <div class="container-fluid">
    <app-dashboard-sidebar></app-dashboard-sidebar>
    <div class="content-wrapper">
      <div class="page-title">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="mb-0"> Add Student</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb pt-0 pe-0 float-start float-sm-end">
              <li class="breadcrumb-item"><a routerLink="/dashboard" class="default-color text-light">Dashboard</a></li>
              <li class="breadcrumb-item active ps-0 text-light">Add Student</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card card-statistics mb-30">
          <div class="card-body">
            <h5 class="card-title">Basic Info</h5>
            <form>
              <div class="row">
                <div class="col-sm-12 mb-3">
                  <label class="form-label" for="inputEmail4">Name</label>
                  <input type="text" class="form-control mb-3" placeholder="First name" name="name" [(ngModel)]="studentObj.name">
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="inputEmail4">Email</label>
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email" [(ngModel)]="studentObj.email">
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="inputRoll">Roll No</label>
                  <input type="password" class="form-control" id="inputRoll" placeholder="Roll No" name="roll" [(ngModel)]="studentObj.roll">
                </div>
              </div>
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="inputClass">Class</label>
                  <input type="text" class="form-control" id="inputClass" placeholder="Class" name="class" [(ngModel)]="studentObj.class">
                </div>
                <div class="mb-3 col-md-6">
                  <label class="form-label" for="inputMobile">Mobile Number</label>
                  <input type="text" class="form-control" id="inputMobile" placeholder="Mobile Number" name="mobile" [(ngModel)]="studentObj.mobile">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4 col-xl-12 col-xxl-6 mb-3">
                  <label class="form-label" for="inputBlood">Blood Group</label>
                  <input type="text" class="form-control" id="inputBlood" placeholder="Blood Group" name="bloodgroup" [(ngModel)]="studentObj.bloodgroup">
                </div>
                <div class="col-sm-4 col-xl-6 col-xxl-3 mb-3">
                  <label class="form-label" for="inputState">Gender</label>
                  <select id="inputState" class="form-control" name="gender" [(ngModel)]="studentObj.gender">
                    <option selected>Choose...</option>
                    <option>Male</option>
                    <option>Female</option>
                  </select>
                </div>
                <div class="col-sm-4 col-xl-6 col-xxl-3 mb-3">
                  <label class="form-label" for="inputZip">Date of Birth</label>
                  <input type="date" class="form-control" id="inputZip" name="birthDay" [(ngModel)]="studentObj.birthDay">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label class="form-label" for="inputAddress">Address</label>
                  <textarea class="form-control" id="inputAddress" placeholder="Address" name="address" [(ngModel)]="studentObj.address"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label class="form-label" for="inputImage">Choose Image</label>
                 <span class="d-flex">
                  <input type="file" class="form-control" id="inputImage" name="file" (change)="onFileSelected($event)">
                  <div class="loader" *ngIf="isLoading">
                    <span class="spinner1"></span>
                    <span class="spinner2"></span>
                    <span class="spinner3"></span>
                  </div>
                 </span>
                </div>
              </div>
              <button type="button" class="btn btn-primary mx-2" (click)="addStudent()">Submit</button>
              <button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
