<div class="container mb-5 mt-5 position-relative">
    <!-- Blurred Color Overlays -->
    <div class="blur-overlay blur-left"></div>

    <!-- Content -->
    <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
        <h3 class="display-5 fw-bold mb-4 text-main text-center">
            POPULAR EDUCATION<br>FOR <span>YOUR CHILD</span>
        </h3>
        <p class="mb-5 text-center">
            Schools maintain a safe environment with first-aid care, health screenings, and
            <br>trained staff to address emergencies.
        </p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="discovery-new-item">
                <img src="../assets/templates/book.png" class="icon-image">
                <h5 class="text-head">Discovery all new items</h5>
                <p>Our school is equipped with state-of-the-art<br> facilities</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="discovery-new-item">
                <img src="../assets/templates/game.png" class="icon-image">
                <h5 class="text-head">Funny Games</h5>
                <p>Engaging and fun-filled games are a core part of our curriculum</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="discovery-new-item">
                <img src="../assets/templates/varify.png" class="icon-image">
                <h5 class="text-head">Varified Classes</h5>
                <p>Each class is designed to provide age-appropriate challenges and opportunitiess</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="discovery-new-item">
                <img src="../assets/templates/lab.png" class="icon-image">
                <h5 class="text-head">Science Lab</h5>
                <p>Our fully equipped science lab provides hands-on learning opportunities</p>
            </div>
        </div>
    </div>
</div>
