.text-main{
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

.text-main span{
    color: #F020B3;
    font-style: italic;
}

.main__image{
    min-height: 640px;
    object-fit: cover;
}

.radius{
    border-radius: 25px;
}