<div class="container mb-5 mt-5 position-relative">
    <!-- Content -->
    <div class="row gy-5 gy-lg-0 align-items-lg-center justify-content-lg-between">
        <h3 class="display-5 fw-bold mb-4 text-main text-center">
           Gallery of Our <br> <span>Classes</span>
        </h3>
        <p class="mb-5 text-center">
            We provide three classes with nine to twenty children each aged twelve<br>
            months to six years of age.
        </p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="assets/templates/gallery_img_1.jpg" class="img-fluid main__image radius" alt="Toy car on the road." />
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/templates/gallery_img_2.jpg" class="img-fluid radius" alt="Toy car on the road." />
                    <img src="assets/templates/gallery_img_4.webp" class="img-fluid radius my-4" alt="Toy car on the road." />
                </div>
                <div class="col-md-6">
                    <img src="assets/templates/gallery_img_3.jpg" class="img-fluid radius" alt="Toy car on the road." />
                    <img src="assets/templates/gallery_img_5.jpg" class="img-fluid radius my-4" alt="Toy car on the road." />
                </div>
            </div>
        </div>
    </div>
</div>
