.course-content {
  padding: 70px 0 70px;
}

.thm-btn {
    padding: 11px 112px 12px;
    font-size: 19px;
    cursor: pointer;
}

.cart {
  background: #687eff;
  height: 45px;
  width: 45px;
  margin: auto;
  border-radius: 50px;
  display: flex;
}

.content {
  position: relative;
  bottom: 220px;
  margin-bottom: -213px;
}


.custom-tabs .nav-link {
  border: none;
  background: transparent;
  color: #333;
  font-weight: 500;
  position: relative;
  padding-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.custom-tabs .nav-link.active {
  color: #ffffff;
    font-weight: 600;
    box-shadow: 4px 6px 0px 0px #03003c;
    background: #687eff;
}

.custom-tabs .nav-link.active h5 {
  color: #fff !important;
  font-weight: 600;
}

.custom-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #6c63ff;
  border-radius: 6px;
  transition: width 0.3s ease-in-out;
}

.custom-tabs .nav-item {
  margin-right: 1.5rem;
}

.tab-content {
  animation: fadeInTab 0.4s ease-in-out;
}

@keyframes fadeInTab {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.review .text-warning {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.review  {
    min-height: 74px;
}

.course-poster {
      border-radius: 20px;
}